.container {
  /* position: relative; */
  width: 125px;
  height: calc(100vh - 64px);

  border-left: var(--border-main);
  padding: 24px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.listItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* cursor: pointer; */
  cursor: default;

  height: 100%;
}

.listItem:not(:last-child) {
  margin-bottom: 18px;
}

.link {
  text-align: center;
  padding: 12px;
  border-radius: var(--border-radius-main);
  text-decoration: none;
  width: 80px;
  color: var(--secondary-text-color);
  background: var(--secondary-background-color);
  border: none;
  transition: all 250ms linear;

  cursor: pointer;
}

.link svg {
  width: 36px;
  height: 36px;
  margin-bottom: 6px;
}

.link_active {
  fill: var(--third-text-color);

  color: var(--third-text-color);
  background: linear-gradient(218.57deg, #ffab18 -6.67%, #ff2197 137.69%);
}

.link_disable {
  cursor: default;
}

.favInfo {
  /* position: absolute;
  top: 340px;
  left: 7px; */
  width: 110px;
  padding: 5px;

  text-align: center;
  font-size: 14px;
  font-weight: 500;
  color: var(--accent-color);
  background-color: var(--button-color-disabled);
  border-radius: 5%;
}
