.container {
  display: flex;
  flex-wrap: wrap;
  gap: 14px;
  padding: 14px;
  background-color: #e4e4e4;

  height: calc(100vh - 200px);
  overflow-y: scroll;
  scroll-behavior: smooth;

/* Firefox */
  scrollbar-width: thin;
  scrollbar-color: #c2c2c2 #ffffff;
}


/* Chrome, Edge, and Safari */
.container::-webkit-scrollbar {
  width: 9px;
}

.container::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
}
