.orderContainer {
  padding-top: 12px;
  display: flex;
  border-left: 1px solid #e4e4e4;
}

.orderDetails {
  width: 50%;
  padding: 0 40px;
}

.orderDetailsData {
  display: flex;

  margin-left: 24px;

  justify-content: space-between;
}

.orderDetailTitle {
  font-weight: 600;
  color: #19191c;
  margin-bottom: 12px;
}

.orderDetailsData p {
  color: #949494;
  margin-bottom: 12px;
}

.orderOption {
  display: inline-flex;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 36px;
  width: 167px;
  height: 45px;
  border-radius: 8px;
  border: 2px solid #ff5c00;
  align-items: center;
  justify-content: center;
  padding: 6px;
  margin-bottom: 12px;
  color: #19191c;
}

.orderOption_detail {
  padding: 12px 12px 0px 24px;
  border: 1px solid #e4e4e4;
  height: calc(100vh - 340px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  margin-bottom: 12px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.orderOption_detail {
  scrollbar-width: auto;
  scrollbar-color: #c2c2c2 #ffffff;
}

/* Chrome, Edge, and Safari */
.orderOption_detail::-webkit-scrollbar {
  width: 9px;
}

.orderOption_detail::-webkit-scrollbar-track {
  background: #ffffff;
}

.orderOption_detail::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
  border: 3px solid #ffffff;
}

.orderOption_detail_img {
  border-radius: 12px;
  width: 92px;
  height: 92px;
  object-fit: contain;
  margin-right: 24px;
}
.orderOption_card {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  transition: all 0.35s;
  padding: 6px 4px 6px 4px;
  border-radius: 16px;
}
.orderOption_card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.orderOption_card:not(:first-child) {
  margin-top: 12px;
}
.orderOption_detail_food_name {
  font-weight: 600;
  font-size: 18px;
  line-height: 60%;
  margin-bottom: 15px;
}

.orderOption_detail_food_price {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  margin-bottom: 2px;
  color: #9c9c9c;
}

.orderOption_detail_food_price_cost {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ff5c00;
}
.orderOption_detail_food_price_cost span {
  margin-left: 28px;
}

.orderOption_detail_change {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 120px;
}

.orderOption_detail_sup_change {
  display: flex;
  margin-bottom: 8px;
}
.orderOption_detail_sub_change {
  width: 100px;
}

.orderOption_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderOption_total {
  text-align: right;
  color: #9c9c9c;
  font-weight: 500;
  font-size: 18px;
  padding-right: 12px;
}
.orderOption_total span {
  color: #ff5c00;
}
.orderOption_note {
  color: #9c9c9c;
}
.orderOption_note p {
  height: 22px;
  border: 1px solid #e4e4e4;
  border-radius: 4px;
  height: 81px;
  width: 402px;
  color: #19191c;
  padding: 4px;
  margin-top: 6px;
}
