.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 374px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: var(--secondary-background-color);
  border-radius: var(--border-radius-main);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(-50%, 0%);
  opacity: 0;
}

.orderContainer {
  padding: 24px 0;
  display: flex;
  border: var(--border-main);
  border-top: none;
  height: 85vh;
}

.orderDetails {
  width: 50%;
  padding: 0 40px;
}

.orderDetailsData {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
  align-items: baseline;
}

.orderDetailTitle {
  font-weight: var(--font-weight-l);
  color: var(--main-text-color);
}
.orderOption_wrapper {
  display: flex;
}

.orderOption {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: transparent;
  margin: 0;

  cursor: pointer;
  text-transform: uppercase;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-ml);
  width: 120px;
  height: 36px;
  border: var(--border-fifth);
  border-radius: var(--border-radius-main);
  color: var(--secondary-text-color);
  padding: 0 8px;

  transition: color 250ms linear, box-shadow 250ms linear, border 250ms linear;
}

.orderOption:not(:last-child) {
  margin-right: 8px;
}
.orderOption_dineIn {
  box-shadow: var(--box-shadow-main);
  border: 2px solid var(--first-option-color);
  color: var(--first-option-color);
}

.orderOption_delivery {
  box-shadow: var(--box-shadow-main);
  border: 2px solid var(--second-option-color);
  color: var(--second-option-color);
}

.orderOption_pickup {
  box-shadow: var(--box-shadow-main);
  border: 2px solid var(--third-option-color);
  color: var(--third-option-color);
}

.orderOption_detail {
  padding: 12px 19px 12px 24px;
  border: var(--border-main);
  height: calc(100vh - 340px);
  overflow-y: scroll;
  scroll-behavior: smooth;
  scrollbar-width: auto;
  scrollbar-color: var(--scroll-color) var(--third-text-color);
  cursor: grab;
  margin-bottom: 12px;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */

/* Chrome, Edge, and Safari */
.orderOption_detail::-webkit-scrollbar {
  width: 8px;
}

.orderOption_detail::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: var(--border-radius-main);
}

.orderOption_bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.orderOption_total {
  text-align: right;
  color: var(--main-text-color);
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-l);
  padding-right: 12px;
}
.orderOption_total span {
  font-weight: var(--font-weight-l);

  color: var(--accent-color);
}
.orderOption_note {
  color: var(--secondary-text-color);
}
.orderOption_note_input {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 108px;
  height: 96px;
  border-radius: var(--border-radius-main);
  border: var(--border-fifth);
  background-color: transparent;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 250ms linear, box-shadow 250ms linear, border 250ms linear;
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  height: 81px;
  width: 402px;
  color: var(--main-text-color);
  padding: 8px;
  margin-top: 6px;
  resize: none;
}

.order_payment {
  width: 50%;
  padding: 0 40px;
}
.order_payment h1 {
  font-weight: var(--font-weight-l);
  color: var(--main-text-color);
}

.order_payment_title {
  display: flex;
  padding-bottom: 12px;
  justify-content: space-between;
  border-bottom: var(--border-main);
  margin-bottom: 24px;
}

.order_payment_sub_title span {
  display: flex;
  align-items: center;
}

.order_payment_sub_title_icon {
  margin-right: 8px;
  /* fill: var(--accent-color); */
  color: var(--accent-color);
  width: 18px;
  height: 18px;
}

.order_payment_sub_title p {
  color: var(--secondary-text-color);
}

.order_payment_amount {
  background-color: var(--third-background-color);
  padding: 16px 36px;
  border-radius: 12px;
  margin-bottom: 24px;
}
.order_payment_amount p {
  display: flex;
  justify-content: space-between;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-xm);
  color: var(--main-text-color);
}

.order_payment_amount span {
  color: var(--accent-color);
}

.order_payment_amount :not(:last-child) {
  margin-bottom: 12px;
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  color: var(--main-text-color);
}

.order_payment_amount :not(:last-child) span {
  color: var(--main-text-color);
}

.order_payment_method {
  margin-bottom: 24px;
}

.order_payment_method p {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 12px;
  color: var(--main-text-color);
}
.order_payment_method_wrapper {
  display: flex;
  justify-content: space-around;
  padding-bottom: 24px;
  margin-bottom: 24px;
  border-bottom: var(--border-main);
}

.order_payment_method_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  width: 108px;
  height: 96px;
  border-radius: var(--border-radius-main);
  border: var(--border-fifth);
  background-color: transparent;
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: color 250ms linear, box-shadow 250ms linear, border 250ms linear;
}

.order_payment_method_btn:hover {
  box-shadow: var(--box-shadow-main);
}

.payment_button_active {
  border: var(--border-six);
}

.order_payment_other_wrapper {
  display: flex;
  justify-content: space-around;
}

.order_payment_other_btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
  width: 108px;
  height: 96px;
  border-radius: var(--border-radius-main);

  background-color: var(--button-color-plus);
  margin: 0;
  padding: 0;

  cursor: pointer;
  transition: box-shadow 250ms linear;
}
.order_payment_other_btn svg {
  fill: var(--third-text-color);
  width: 24px;
  height: 24px;
  margin-top: 22px;
}
.order_payment_other_btn p {
  color: var(--third-text-color);
  font-size: var(--font-size-s);
  font-weight: var(--font-weight-s);
}

.order_payment_other_btn:hover {
  box-shadow: var(--box-shadow-main);
}

.order_payment_done_btn {
  background: linear-gradient(218.57deg, #00fe088a -6.67%, #00bf63 137.69%);
}
.order_payment_delete_btn {
  background: linear-gradient(218.57deg, #ff0000 -6.67%, #e90042 137.69%);
}

.change_tip {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}
.change_tip_title {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-xm);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-bottom: 24px;
}
.change_tip_subTitle {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 24px;
}
.change_tip_input {
  width: 316px;
  padding: 12px 16px;
  background-color: var(--field-background-color);
  color: var(--main-text-color);
  border: var(--border-main);
  border-radius: var(--border-radius-main);
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  resize: none;
}
.change_tip_btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: var(--accent-color);
  border-radius: var(--border-radius-secondary);
  cursor: pointer;
  color: var(--third-text-color);
  margin-bottom: 24px;
  margin-top: 12px;
  transition: background 150ms linear, box-shadow 250ms linear;
}
