.buttonText {
  padding: 8px 16px;

  font-family: 'Poppins';
  font-size: 14px;
  line-height: 140%;
  color: #19191C;

  background-color: #FFFFFF;
  border: 1px solid #E4E4E4;
  border-radius: 40px;
  /* border: none; */
}

.active {
  font-weight: 600;
  color: #FF5C00;
  background: #FFF5EE;
  border: 1px solid #FF5C00;
}

/*ПОТОМ ЭТО УДАЛИТЬ*/
.buttonText:first-child {
  font-weight: 600;
  color: #FF5C00;
    background: #FFF5EE;
    border: 1px solid #FF5C00;
}

