.container {
  padding: 12px;
  width: 270px;
}

.orders_title {
  font-size: var(--font-size-xm);
  margin-bottom: 12px;
  color: var(--main-text-color);
}

.orders_item {
  display: flex;
  justify-content: space-between;
  display: flex;
  justify-content: space-between;
  border-radius: var(--border-radius-main);
  border: var(--border-main);
  padding: 6px 4px;
}

.orders_inner {
  display: flex;
}

.orders_item:not(:last-child) {
  margin-bottom: 12px;
}
.orders_item_name {
  font-size: var(--font-size-m);
  margin-right: 8px;
  color: var(--main-text-color);
}

.orders_item_value {
  text-align: center;
  font-weight: var(--font-weight-l);
  color: var(--accent-color);
  margin-right: 4px;
}
