.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 20px;

  width: 374px;

  top: 1%;
  left: 70%;
  transform: translate(0%, 0%);
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 12px;
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(0%, 50%);
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 16px 24px;
  border-bottom: 1px solid #e4e4e4;
}

.header__nav_list,
.header__logo,
.header__nav,
.header__nav_link,
.header__nav_link_active {
  display: flex;
  align-items: center;
}

.header__logo {
  align-items: center;
}

.header__logo_icon {
  margin-right: 28px;
}
.header__logo_mainText {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #19191c;
}
.header__logo_primaryText {
  font-weight: 400;
  font-size: 16px;
  color: #828487;
}

.header__nav_item span {
  margin: 0 92px;
  color: #ff5c00 !important;
}
.header__nav_item:not(:last-child) {
  margin-right: 20px;
}

.header__nav_link {
  color: #828487;
}

.header__nav_link_active {
  color: #ff5c00;
}

.header__nav_icon {
  margin-right: 11px;
  width: 22px;
  height: 22px;
  color: currentColor;
}

.header__nav_option:hover,
.header__nav_option:hover {
  color: #ff5c00;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.header__nav_auth {
  display: flex;
}

.header__nav_auth_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 20px;
  width: 92px;
  height: 36px;
  background: #fff5ee;
  border-radius: 58px;
  font-weight: 600;
  font-size: 16px;

  padding: 0 8px;

  cursor: pointer;
  transition: color 250ms linear, box-shadow 250ms linear;
}
.header__nav_auth_btnSignIn {
  background: #ff5c00;
  color: #fff;
}

.header__nav_auth_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__nav_avatar {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  background: transparent;
  border-radius: 50%;
  cursor: pointer;
  background-color: transparent;
  transition: color 250ms linear, box-shadow 250ms linear;
}

.header__nav_avatar:hover {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.header__nav_avatar_img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
