.modal {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  padding: 20px;
  width: 374px;
  top: 1%;
  left: 70%;
  transform: translate(0%, 0%);
  background: var(--secondary-background-color);
  border-radius: var(--border-radius-main);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(0%, 50%);
  opacity: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  padding: 16px 24px;
  border-bottom: var(--border-main);
}

.header__nav_list,
.header__logo,
.header__nav,
.header__nav_link,
.header__nav_link_active {
  display: flex;
  align-items: center;
}

.header__logo {
  align-items: center;
}

.header__logo_icon {
  margin-right: 28px;
}
.header__logo_mainText {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
}
.header__logo_primaryText {
  font-size: var(--font-size-m);
  color: var(--secondary-text-color);
}

.header__nav_item span {
  margin: 0 92px;
  color: var(--accent-color) !important;
}
.header__nav_item:not(:last-child) {
  margin-right: 24px;
}
.header__nav_checkbox {
  display: flex;
  margin-right: 36px;
  height: 34px;
}
.header__nav_checkbox button {
  height: 72px !important;
}
.header__nav_link {
  color: var(--secondary-text-color);
}

.header__nav_link_active {
  color: var(--accent-color);
}

.header__nav_icon {
  margin-right: 11px;
  width: 22px;
  height: 22px;
  color: currentColor;
}

.header__nav_auth {
  display: flex;
}

.header__nav_auth_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  margin-right: 20px;
  width: 92px;
  height: 36px;
  background: var(--primary-button-color);
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  border-radius: var(--border-radius-secondary);
  padding: 0 8px;
  cursor: pointer;
  transition: color 250ms linear, box-shadow 250ms linear;
}
.header__nav_auth_btnSignIn {
  background: var(--accent-color);
  color: var(--third-text-color);
}

.header__nav_auth_btn:hover {
  box-shadow: var(--box-shadow-main);
}

.header__nav_avatar {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: hidden;
  background: transparent;
  border-radius: var(--border-radius-third);
  cursor: pointer;
  background-color: transparent;
  transition: color 250ms linear, box-shadow 250ms linear;
}

.header__nav_avatar:hover {
  box-shadow: var(--box-shadow-main);
}

.header__nav_avatar_img {
  width: 44px;
  height: 44px;
  object-fit: cover;
}
