.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 374px;
  top: 271px;
  left: 70%;
  transform: translate(0%, 0%);
  background: var(--secondary-background-color);

  border-radius: var(--border-radius-main);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(0%, -50%);
  opacity: 0;
}

.container {
  margin: 0 auto;
  width: 360px;
  border-right: var(--border-main);
  height: calc(100vh - 64px);
}
.orderOption {
  padding: 12px 24px 0px 24px;
  border-bottom: var(--border-main);
  height: 256px;
}

.orderOption_list {
  display: flex;
  align-items: center;
  width: 312px;
  height: 44px;
  padding: 4px;

  border-radius: var(--border-radius-secondary);
  overflow: hidden;
  border: none;
  background-color: var(--fourth-background-color);
  margin-bottom: 14px;
}
.orderOption_item {
  width: calc(100% / 3);
  height: 100%;
}
.orderOption span {
  color: var(--accent-color) !important;
  height: 50px !important;
  width: 50px !important;
  text-align: center !important;

  margin-left: 110px;
  margin-bottom: 34px;
}

.orderOption_item:not(:last-child) {
  margin-right: 4px;
}
.orderOption_button {
  cursor: pointer;
  border: none;
  margin: 0;
  border-radius: var(--border-radius-secondary);
  overflow: visible;
  background: transparent;
  height: 100%;
  width: 100%;
  background-color: var(--secondary-background-color);
  color: var(--main-text-color);
  text-align: center;
  transition: all 0.35s;
}

.orderOption_button:hover {
  box-shadow: var(--box-shadow-main);
}

.orderOption_button_active {
  color: #ffffff;
  background-color: #ff5c00;
  box-shadow: var(--box-shadow-main);
}

.orderOption_text {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-ml);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-bottom: 8px;
}

.orderOption_user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 14px 0;
  padding: 0 12px;
}

.orderOption_userAvatar {
  width: 70px;
  height: 70px;
  border-radius: var(--border-radius-third);
  object-fit: cover;
}

.orderOption_userName {
  text-align: center;
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 8px;
  color: var(--main-text-color);
}

.orderOption_gift {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 8px;
  color: var(--secondary-text-color);
}

.orderOption_name {
  width: 316px;
  height: 40px;
  padding: 12px 16px;
  background-color: var(--field-background-color);
  color: var(--main-text-color);
  border: var(--border-main);
  border-radius: var(--border-radius-secondary);
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 8px;
}

.orderOption_phone {
  width: 316px !important;
  height: 42px !important;
  border: 0 !important;

  border: var(--border-main) !important;

  border-radius: var(--border-radius-secondary) !important;

  margin-bottom: 8px;
}

.orderOption_phone_input {
  width: 314px !important ;
  height: 40px !important;

  color: var(--main-text-color) !important;
  border: 0 !important;
  background-color: var(--field-background-color) !important;
  border-radius: var(--border-radius-secondary) !important;
  font-weight: var(--font-weight-s) !important;
  font-size: var(--font-size-m) !important;
  line-height: var(--line-height-l) !important;
  margin-bottom: 12px !important;
}

.orderOption_phone_flag {
  border-radius: var(--border-radius-secondary);
  margin-left: 2px;
  background-color: transparent !important;
  border: 0 !important;
}
.orderOption_phone_flag > div {
  border-radius: var(--border-radius-secondary) !important;
  top: 2px;
  height: 36px !important;
  width: 42px !important;
  transition: all 0.35s;
}

.orderOption_phone_flag > div:hover {
  background-color: #fff5ee !important;
  box-shadow: var(--box-shadow-secondary);
}

.orderOption_addNote_btn,
.orderOption_pay_btn {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: var(--primary-button-color);
  border-radius: var(--border-radius-secondary);
  cursor: pointer;
  transition: all 250ms;

  margin-bottom: 16px;
}

.orderOption_addNote_btn:hover {
  background-color: var(--accent-color);
  color: var(--third-text-color);
  box-shadow: var(--box-shadow-main);
}

.orderOption_placeholder {
  padding: 24px 24px 0px 24px;
  border-bottom: var(--border-main);
  height: calc(100vh - 440px);
  text-align: center;
  font-size: var(--font-size-m);
  line-height: 150%;
  color: var(--main-text-color);
}

.orderOption_detail {
  padding: 12px 8px 12px 8px;
  border-bottom: var(--border-main);
  height: calc(100vh - 440px);
  cursor: grab;

  /* ===== Scrollbar CSS ===== */
  /* Firefox */

  overflow-y: scroll;
  scroll-behavior: smooth;

  scrollbar-width: auto;
  scrollbar-color: var(--scroll-color) var(--third-text-color);
}

/* Chrome, Edge, and Safari */
.orderOption_detail::-webkit-scrollbar {
  width: 6px;
}

.orderOption_detail::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: var(--border-radius-main);
}

.orderOption_detail_img {
  border-radius: var(--border-radius-main);
  width: 58px;
  height: 58px;
  object-fit: contain;
  margin-right: 12px;
}
.orderOption_card {
  display: flex;
  border: var(--border-main);
  padding: 6px 4px 1px 4px;
  border-radius: var(--border-radius-main);
  transition: box-shadow 250ms linear;
}
.orderOption_card:hover {
  box-shadow: var(--box-shadow-main);
}

.orderOption_card:not(:first-child) {
  margin-top: 12px;
}
.orderOption_detail_food_name {
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-m);
  line-height: var(--line-height-s);
  color: var(--main-text-color);
  margin-bottom: 6px;
}

.orderOption_detail_food_price {
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  color: var(--secondary-text-color);
  margin-bottom: 2px;
}

.orderOption_detail_food_price_cost {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--accent-color);
}

.orderOption_detail_change {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 100px;
}

.orderOption_detail_sup_change {
  display: flex;
  margin-bottom: 8px;
}
.orderOption_detail_sub_change {
  width: 150px;
}
.orderOption_detail_change_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: var(--border-radius-third);
  overflow: visible;
  transition: box-shadow 250ms linear;
}
.orderOption_detail_change_btn:disabled svg {
  fill: var(--button-color-disabled);
  transition: fill 250ms linear;
}

.orderOption_detail_change_btn:hover {
  box-shadow: var(--box-shadow-main);
}
.orderOption_detail_change_icon {
  width: 36px;
  height: 36px;
}

.orderOption_detail_quantity {
  width: 28px;
  text-align: center;
  color: var(--main-text-color);
}

.orderOption_detail_change_icon_plus {
  fill: var(--button-color-plus);
  transition: fill 250ms linear;
}
.orderOption_detail_change_icon_minus {
  fill: var(--button-color-minus);
}

.orderOption_pay {
  position: relative;
  padding: 12px 24px 0px 24px;
}

.orderOption_pay_Text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.pay_text {
  font-size: var(--font-size-m);
  color: var(--secondary-text-color);
}
.pay_textPrice {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--accent-color);
}

.pay_btn {
  color: var(--third-text-color);
  background-color: var(--accent-color);
}
.pay_btn:hover {
  box-shadow: var(--box-shadow-main);
}
.pay_btn:disabled {
  background-color: var(--button-color-disabled);
  color: var(--button-color-plus);
}

.add_note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}
.add_note_title {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-bottom: 24px;
}

.add_note_subTitle {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 24px;
}

.add_note_subTitle_field {
  width: 316px;
  height: 110px;
  padding: 12px 16px;
  background-color: var(--field-background-color);
  color: var(--main-text-color);
  border: var(--border-third);
  border-radius: var(--border-radius-main);
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  resize: none;
}

.add_note_form_error {
  text-align: left;
  font-size: 14px;
  line-height: 150%;
  color: #ff5c00;
  margin-bottom: 8px;
}

.add_note_btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: var(--accent-color);
  border-radius: var(--border-radius-secondary);
  cursor: pointer;

  color: var(--third-text-color);
  margin-bottom: 24px;

  margin-top: 12px;
  transition: background 250ms linear, box-shadow 250ms linear;
}

.add_note_btn:disabled {
  color: var(--secondary-text-color);
  background: var(--button-color-disabled);
}

.add_note_btn:hover {
  box-shadow: var(--box-shadow-main);
}
