.container {
  margin: 0 auto;
  width: 360px;
  border-right: 1px solid #e4e4e4;
  height: calc(100vh - 64px);
}
.orderOption {
  padding: 12px 24px 0px 24px;
  border-bottom: 1px solid #e4e4e4;
  height: 256px;
}

.orderOption_list {
  display: flex;
  align-items: center;
  width: 312px;
  height: 44px;
  padding: 4px;

  border-radius: 80px;
  overflow: hidden;
  border: none;
  background-color: #e4e4e4;
  margin-bottom: 14px;
}
.orderOption_item {
  width: calc(100% / 3);
  height: 100%;
}
.orderOption span {
  color: #ff5c00 !important;
  height: 50px !important;
  width: 50px !important;
  text-align: center !important;

  margin-left: 110px;
  margin-bottom: 34px;
}

.orderOption_item:not(:last-child) {
  margin-right: 4px;
}
.orderOption_button {
  cursor: pointer;
  border: none;
  margin: 0;
  border-radius: 80px;
  overflow: visible;
  background: transparent;
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  text-align: center;
  transition: all 0.35s;
}

.orderOption_button:hover {
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.orderOption_button_active {
  color: #ffffff;
  background-color: #ff5c00;

  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.orderOption_text {
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
}

.orderOption_user {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 14px 0;
  padding: 0 12px;
}

.orderOption_userAvatar {
  width: 74px;
  height: 74px;
  border-radius: 50%;
  object-fit: cover;
}

.orderOption_userName {
  text-align: center;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #3c3c3c;
}

.orderOption_gift {
  display: flex;
  justify-content: space-around;
  text-align: center;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
  color: #3c3c3c;
}
.orderOption_gift p {
  font-weight: 600;
  color: #ff5c00;
}

.orderOption_name {
  width: 316px;
  height: 40px;
  padding: 12px 16px;
  background-color: #ffffff;
  color: #c2c2c2;
  border: 1px solid #e4e4e4;
  border-radius: 58px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  margin-bottom: 8px;
}

.orderOption_phone {
  width: 316px !important;
  height: 42px !important;
  border: 0 !important;
  background-color: #ffffff;

  border: 1px solid #e4e4e4 !important;
  border-radius: 58px;
  margin-bottom: 8px;
}

.orderOption_phone_input {
  width: 314px !important ;
  height: 40px !important;
  /* padding: 12px -6px 12px 62px !important; */

  color: #c2c2c2 !important;
  border: 0 !important;
  border-radius: 58px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  margin-bottom: 12px !important;
}

.orderOption_phone_flag {
  border-radius: 3000px;
  margin-left: 2px;
  background-color: transparent !important;
  border: 0 !important;
}
.orderOption_phone_flag > div {
  border-radius: 58px !important;
  top: 2px;
  height: 36px !important;
  width: 42px !important;
  transition: all 0.35s;
}

.orderOption_phone_flag > div:hover {
  background-color: #fff5ee !important;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.orderOption_addNote_btn,
.orderOption_pay_btn {
  position: relative;
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  background: #ffbd8d;
  border-radius: 58px;
  cursor: pointer;
  transition: all 0.35s;

  margin-bottom: 16px;
}

.orderOption_addNote_btn:hover {
  background-color: #ff5c00;
  color: #fff;
}

.orderOption_placeholder {
  padding: 24px 24px 0px 24px;
  border-bottom: 1px solid #e4e4e4;
  height: calc(100vh - 440px);
  text-align: center;
  font-size: 14px;
  line-height: 150%;
  color: #787878;
}

.orderOption_detail {
  padding: 12px 24px 0px 24px;
  border-bottom: 1px solid #e4e4e4;
  height: calc(100vh - 440px);
  overflow-y: scroll;
  scroll-behavior: smooth;
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
.orderOption_detail {
  scrollbar-width: auto;
  scrollbar-color: #c2c2c2 #ffffff;
}

/* Chrome, Edge, and Safari */
.orderOption_detail::-webkit-scrollbar {
  width: 9px;
}

.orderOption_detail::-webkit-scrollbar-track {
  background: #ffffff;
}

.orderOption_detail::-webkit-scrollbar-thumb {
  background-color: #c2c2c2;
  border-radius: 4px;
  border: 3px solid #ffffff;
}

.orderOption_detail_img {
  border-radius: 12px;
  width: 58px;
  height: 58px;
  object-fit: contain;
  margin-right: 12px;
}
.orderOption_card {
  display: flex;
  border-bottom: 1px solid #e4e4e4;
  transition: all 0.35s;
  padding: 6px 4px 1px 4px;
  border-radius: 16px;
}
.orderOption_card:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

.orderOption_card:not(:first-child) {
  margin-top: 12px;
}
.orderOption_detail_food_name {
  font-weight: 600;
  font-size: 14px;
  line-height: 60%;
  margin-bottom: 6px;
}

.orderOption_detail_food_price {
  font-weight: 400;
  font-size: 12px;
  line-height: 130%;
  margin-bottom: 2px;
  color: #9c9c9c;
}

.orderOption_detail_food_price_cost {
  font-weight: 600;
  font-size: 14px;
  line-height: 150%;
  color: #ff5c00;
}

.orderOption_detail_change {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  min-width: 120px;
}

.orderOption_detail_sup_change {
  display: flex;
  margin-bottom: 8px;
}
.orderOption_detail_sub_change {
  width: 100px;
}
.orderOption_detail_change_btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border: none;
  cursor: pointer;

  padding: 0;
  width: 36px;
  height: 36px;
  border-radius: 58px;
  overflow: visible;
  transition: all 0.35s;
}

.orderOption_detail_change_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.orderOption_detail_change_icon {
  width: 36px;
  height: 36px;
}

.orderOption_detail_quantity {
  width: 12px;
  text-align: center;
}

.orderOption_detail_change_icon_plus {
  fill: #19191c;
}
.orderOption_detail_change_icon_minus {
  fill: #9a9a9a;
}

.orderOption_pay {
  position: relative;
  padding: 12px 24px 0px 24px;
}

.orderOption_pay_Text {
  display: flex;
  justify-content: space-between;
  margin-bottom: 12px;
}
.pay_text {
  font-size: 16px;
  color: #828487;
}
.pay_textPrice {
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  color: #ff5c00;
}

.pay_btn {
  color: #fff;
  background-color: #ff5c00;
}
.pay_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
.pay_btn:disabled {
  background-color: #e4e4e4;
  color: #19191c;
}

.modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  width: 374px;
  top: 271px;
  left: 70%;
  transform: translate(0%, 0%);
  background: #ffffff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 12px;
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(0%, -50%);
  opacity: 0;
}

.add_note {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 24px;
}
.add_note_title {
  font-weight: 600;
  font-size: 28px;
  line-height: 150%;
  color: #19191c;
  margin-bottom: 24px;
}

.add_note_subTitle {
  font-size: 12px;
  line-height: 150%;
  color: #828487;
  text-align: center;
  margin-bottom: 24px;
}

.add_note_subTitle_field {
  width: 316px;
  height: 200px;
  padding: 12px 16px;
  background-color: #ffffff;
  color: #c2c2c2;
  border: 1px solid #ff5c00;
  border-radius: 12px;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  resize: none;
}

.add_note_form_error {
  text-align: left;
  font-size: 14px;
  line-height: 150%;
  color: #ff5c00;
  margin-bottom: 8px;
}

.add_note_btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  background: #ff5c00;
  border-radius: 58px;
  cursor: pointer;
  transition: all 0.35s;
  color: #fff;
  margin-bottom: 24px;

  margin-top: 12px;
  transition: background 150ms linear, box-shadow 250ms linear;
}

.add_note_btn:disabled {
  background: #f0b38d;
}

.add_note_btn:hover {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 3px 6px, rgba(0, 0, 0, 0.23) 0px 3px 6px;
}
