.card {
  display: flex;
  flex-direction: column;
  position: relative;
  /* height: 100%; */
  /* height: 330px; */
  width: 219px;

  /* padding: 12px 8px 16px 8px; */
  padding: 12px 8px 12px 8px;
  background-color: var(--secondary-background-color);
  border-radius: var(--border-radius-main);

  /* outline: 1px solid green; */
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  /* flex-grow: 1; */
  padding: 0;
  border: none;
  background-color: var(--secondary-background-color);
}

.wrapper:hover {
  cursor: pointer;
}

.imageWrapper {
  /* justify-content: flex-start; */
  overflow: hidden;
  width: 203px;
  height: 203px;
  border-radius: var(--border-radius-main);
  border: var(--border-main);
  /* border-style: hidden; */
}

.favoriteIconWraper {
  position: absolute;
  top: 182px;
  left: 176px;
  margin: 0;
}

.favoriteIcon {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  width: 30px;
  height: 30px;
  background-color: var(--button-color-disabled);
  box-shadow: var(--box-shadow-secondary);
  /* background-color: #d30de6; */
  border-radius: var(--border-radius-third);
  cursor: pointer;
  border: none;
}

.icon svg {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  color: red;
}

.favorite_button_disable {
  vertical-align: middle;
  width: 25px;
  height: 25px;
  fill: var(--secondary-text-color);
}

.moreInfo {
  position: absolute;
  top: 20px;
  left: 27px;
}

.foodName {
  /* margin-top: 12px; */
  margin-top: 10px;
  flex-grow: 1;

  /* font-family: 'Poppins'; */
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  /* line-height: 150%; */
  line-height: var(--line-height-m);
  text-align: center;
  color: var(--main-text-color);
}

.foodPrice {
  composes: foodName;
  /* margin-top: 4px; */
  margin-top: 2px;
  /* font-family: 'Poppins';
  font-weight: 600;
  font-size: 16px;
  line-height: 150%;
  text-align: center; */
  color: var(--accent-color);
}

.buttonsWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 8px;
}

/* .button-old {
  margin-top: 4px;
  font-family: 'Poppins';
  font-weight: 500;
  font-size: 13px;
  line-height: 150%;
  text-align: center;
} */

.button {
  /* margin-top: 4px; */
  margin-left: auto;
  margin-right: auto;
  padding: 1px 50px 1px 50px;
  background-color: var(--primary-button-color);
  /* font-family: 'Poppins'; */
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  border-radius: var(--border-radius-main);
  border: var(--border-main);
}

.button:hover {
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--accent-color);
}

.image_hide {
  display: none;
}

.isLoadingCard {
  width: 219px;
  /* background: var(--third-background-color); */
  background: linear-gradient(
    110deg,
    var(--image-load-main-color) 8%,
    var(--image-load-second-color) 18%,
    var(--image-load-main-color) 33%
  );

  background-size: 200% 100%;
  animation: 1.5s shine linear infinite;

  border-radius: var(--border-radius-main);
  height: 203px;
  margin-bottom: 12px;
}

@keyframes shine {
  to {
    background-position-x: -200%;
  }
}

/* MODAL WINDOW STYLES */
.modal {
  position: absolute;
  /* display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center; */
  padding: 30px;
  width: 1100px;
  top: 100px;
  left: 25%;
  transform: translate(0%, 0%);
  background: var(--secondary-background-color);
  border-radius: var(--border-radius-main);
  transition: opacity 250ms linear, transform 250ms linear;
  opacity: 1;
}

.modal_unmount {
  transform: translate(0%, -50%);
  opacity: 0;
}

.modalWrapper {
  padding: 20px;
  border-radius: var(--border-radius-main);
  border: var(--border-third);
}

.modalDataWrapper {
  display: flex;
  position: relative;
  /* margin-top: 20px; */
}

.imageModal {
  /* overflow: hidden; */
  width: 340px;
  /* height: 203px; */
  border-radius: var(--border-radius-main);
  /* border: var(--border-fourth); */
  /* border-style: hidden; */
}

.modalFavIconWrapper svg {
  position: absolute;
  top: 295px;
  left: 295px;
  width: 40px;
  height: 40px;

  margin: 0;
  padding: 5px;

  color: red;
  background-color: var(--button-color-disabled);
  box-shadow: var(--box-shadow-secondary);
  border-radius: var(--border-radius-third);
  border: none;
}

.modalDataTextWrapper {
  margin-left: 35px;
}

.foodNameModal {
  /* font-family: 'Poppins'; */
  font-weight: var(--font-weight-xl);
  font-size: var(--font-size-xm);
  line-height: var(--font-size-xm);
  /* text-align: center; */
  color: var(--main-text-color);
}

.descriptionModal {
  /* margin-left: 30px; */
  max-height: 176px;
  overflow-y: auto;
  margin-top: 10px;

  /* font-family: 'Poppins'; */
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-ml);
  line-height: var(--line-height-l);
  color: var(--secondary-text-color);

  /* Firefox */
  scrollbar-width: thin;
  scrollbar-color: var(--scroll-color) var(--third-text-color);
}

/* Chrome, Edge, and Safari */
.descriptionModal::-webkit-scrollbar {
  width: 8px;
}

.descriptionModal::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: var(--border-radius-main);
}

.foodPriceModal {
  composes: descriptionModal;
  height: 30px;
  margin-top: 25px;

  font-weight: var(--font-weight-l);
  color: var(--accent-color);
}

.buttonsModalWrapper {
  display: flex;
  justify-content: space-evenly;
  width: 623px;
  margin-top: 25px;
}

.buttonModal {
  width: 250px; /*was 200*/
  margin-top: 4px;
  padding: 5px 0 5px 0;
  text-align: center;
  /* font-family: 'Poppins'; */
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background-color: var(--primary-button-color);
  border-radius: var(--border-radius-main);
  border: var(--border-main);
}

.buttonModal:hover {
  cursor: pointer;
  color: var(--third-text-color);
  background-color: var(--accent-color);
}
