.wrapper {
  display: flex;
  gap: 7px;
  width: 478px;
  align-items: center;
  justify-content: space-evenly;

  padding: 16px 19px;

  border: var(--border-main);
  border-left: none;
}

/* .active {
  font-weight: var(--font-weight-l);
  color: var(--accent-color);

  border: var(--border-third);
} */
