.wrapper {
  display: flex;
  gap: 7px;
  width: 478px;
  align-items: center;
  justify-content: space-evenly;

  padding: 16px 19px;

  border: var(--border-main);
  border-left: none;
}

.slogan {
  text-align: center;
    font-size: var(--font-size-m);
    line-height: 150%;
    color: var(--main-text-color);
}



/* .active {
  font-weight: var(--font-weight-l);
  color: var(--accent-color);

  border: var(--border-third);
} */
