.dishes_button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow: hidden;
  margin: 0;
  width: 316px;
  height: 66px;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: var(--secondary-background-color);

  border-radius: var(--border-radius-main);
  cursor: pointer;
  border: var(--border-main);
  transition: box-shadow 250ms linear;
}
.dishes_button:hover {
  box-shadow: var(--box-shadow-main);
}
.dishes_button_item_show {
  overflow: visible;
  border-radius: var(--border-radius-main);
  border-bottom: none;
  box-shadow: none;
}

.dishes_button_icon {
  position: sticky;
  bottom: 15px;
  left: 270px;
  width: 30px;
  height: 30px;
  color: var(--third-option-color);

  transition: color 250ms linear, rotate 250ms linear;
}

.dishes_button_icon_show {
  color: var(--second-option-color);
  rotate: 180deg;
}

.dishes_content {
  position: absolute;
  top: 0;
  left: 0;
  height: 66px;
  background: var(--secondary-background-color);
  padding: 0 4px;
  overflow: hidden;
  width: 315px;
}

.dishes_content_isGrab {
  cursor: grabbing;
}

.dishes_content_show {
  position: absolute;
  overflow: visible;
  height: 270px;
  z-index: 2;
  transition: height 250ms linear;
  overflow-y: scroll;
  scroll-behavior: smooth;
  border-radius: var(--border-radius-main);

  /* ===== Scrollbar CSS ===== */
  /* Firefox */
  scrollbar-width: auto;
  scrollbar-color: var(--scroll-color) var(--third-text-color);

  box-shadow: var(--box-shadow-main);
}

/* Chrome, Edge, and Safari */
.dishes_content_show::-webkit-scrollbar {
  width: 8px;
}

.dishes_content_show::-webkit-scrollbar-thumb {
  background-color: var(--scroll-color);
  border-radius: var(--border-radius-main);
}

.orderOption_card {
  display: flex;
  align-items: center;
  border-bottom: var(--border-main);
}
.orderOption_card:not(:last-child) {
  padding: 0 4px;
}

.orderOption_card:not(:first-child) {
  margin-top: 4px;
}
.orderOption_detail_img {
  border-radius: var(--border-radius-main);
  width: 54px;
  height: 54px;
  object-fit: contain;
  margin-right: 12px;
}
.orderOption_detail_dish_name {
  text-align: left;
  font-weight: var(--font-weight-m);
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
  margin-bottom: 6px;
  color: var(--main-text-color);
}

.orderOption_detail {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 8px 0;
}

.orderOption_detail_title {
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-s);
  line-height: var(--line-height-m);
  margin-bottom: 2px;
  color: var(--secondary-text-color);
}

.orderOption_detail_food_price {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--accent-color);
}

.orderOption_detail_items {
  display: flex;
  justify-content: space-between;
  text-align: center;
  width: 180px;
}
