.historyContainer {
  display: flex;
  justify-content: space-between;
  padding: 24px 12px 26px;
  border: 1px solid #e4e4e4;
  border-top: none;
}

.order_loading {
  display: flex;
  flex-direction: column;
  width: 80%;

  border: 1px solid #e4e4e4;
  padding: 18px 3px 12px 18px;
  height: 83vh;
}
.order_loading_line {
  background-color: #ff5e0082 !important;
}

.order_loading_line span {
  background-color: #ff5c00 !important;
}

.order_no_content {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: 1px solid #e4e4e4;
  padding: 18px 3px 12px 18px;
  height: 83vh;
}
