.historyContainer {
  display: flex;

  border: var(--border-main);
  border-top: none;
  height: 85vh;
}
.historyCardWrapper {
  width: 80%;
  height: 80vh;
}

.order_loading {
  display: flex;
  flex-direction: column;
  padding: 18px 3px 12px 18px;
  width: 100%;
}
.order_loading_line {
  background-color: var(--second-load-color) !important;
}

.order_loading_line span {
  background-color: var(--accent-color) !important;
}

.order_no_content {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: var(--border-main);
  padding: 18px 3px 12px 18px;
  height: 83vh;
}
