.signIn {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}

.signIn_logo {
  display: flex;
  align-items: center;
  margin: 24px 0;
}
.signIn_logoText {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-left: 12px;
}

.signIn_title {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-l);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-bottom: 24px;
}
.signIn_subTitle {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--secondary-text-color);
  text-align: center;
  margin-bottom: 24px;
}
.signIn_subTitle span {
  font-size: var(--font-size-s);
  line-height: var(--line-height-l);
  color: var(--main-text-color);
  margin-left: 4px;
}
.signIn_field {
  width: 316px;
  height: 40px;
  padding: 12px 16px;
  background-color: var(--field-background-color);
  color: var(--main-text-color);
  border: var(--border-main);
  border-radius: var(--border-radius-secondary);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 12px;
}

.signIn_form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 36px;
}

.signIn_phone {
  width: 316px !important;
  height: 42px !important;
  border: 0 !important;

  border: var(--border-main) !important;
  border-radius: var(--border-radius-secondary);
  margin-bottom: 16px;
}

.signIn_phone_input {
  width: 314px !important ;
  height: 40px !important;
  background: var(--field-background-color) !important;
  color: var(--main-text-color) !important;
  border: 0 !important;
  border-radius: 58px !important;
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 150% !important;
  margin-bottom: 12px !important;
}

.signIn_phone_flag {
  border-radius: 3000px;
  margin-left: 2px;
  background-color: transparent !important;
  border: 0 !important;
}
.signIn_phone_flag > div {
  border-radius: var(--border-radius-secondary) !important;
  top: 2px;
  height: 36px !important;
  width: 42px !important;
  transition: all 0.35s;
}

.signIn_phone_flag > div:hover {
  background-color: var(--secondary-text-color) !important;
  box-shadow: var(--secondary-background-color);
}

.signIn_btn {
  border: none;
  margin: 0;
  padding: 0;
  overflow: visible;
  width: 316px;
  height: 42px;
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background: var(--accent-color);
  border-radius: var(--border-radius-secondary);
  cursor: pointer;
  color: var(--third-text-color);
  margin-bottom: 16px;
  transition: background 150ms linear, box-shadow 250ms linear;
}

.signIn_btn:disabled {
  background: var(--button-color-disabled);
}

.signIn_btn:hover {
  box-shadow: var(--box-shadow-secondary);
}

.user_profile {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px 0;
}
.logOut_avatar {
  width: 120px;
  height: 120px;
  border-radius: var(--border-radius-third);
  margin-bottom: 8px;
}
.logOut_text {
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  margin-bottom: 12px;
  color: var(--main-text-color);
}

.logOut_text_name {
  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  text-transform: capitalize;
}
.logOut_text:last-child {
  margin-bottom: 24px;
}

.forgot_pass_btn {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  font-weight: var(--font-weight-l);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  background-color: transparent;
  border-radius: var(--border-radius-secondary);
  cursor: pointer;
  color: var(--fourth-text-color);

  margin-bottom: 16px;
  transition: box-shadow 250ms linear;
}

.signIn_form_error {
  text-align: left;
  font-size: var(--font-size-s);

  color: var(--accent-color);
  margin-bottom: 8px;
}
.user_form {
  margin-top: 16px;
}
.upload_button {
  position: absolute;
  top: 107px;
  right: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 38px;
  height: 38px;
  background-color: var(--accent-color);
  border-radius: var(--border-radius-third);
  border: var(--border-secondary);
  cursor: pointer;
  transition: background-color 250ms linear;
}

.upload_button svg {
  height: 20px;
  width: 20px;
  color: var(--third-text-color);
  cursor: pointer;
}

.upload_button:hover {
  background-color: var(--fourth-text-color);
}

.uploadField {
  position: absolute;
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.user_edit_info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
