.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  backdrop-filter: blur(3px);
  background-color: rgba(6, 6, 5, 0.771);
  transition: background-color 250ms linear, backdrop-filter 200ms linear;
}
.backdrop_unmount {
  backdrop-filter: 0;
  background-color: transparent;
}
