.wrapper {
    box-sizing: border-box;
  padding: 22px 24px 22px 58px;
  margin: 0;
  width: 477px;

  font-family: 'Poppins';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #C2C2C2;

  outline: 1px solid blue;
}