.wrapper {
  padding: 22px 24px 22px 58px;
  margin: 0;
  width: 478px;

  /* font-family: 'Poppins'; */
  /* font-style: normal; */
  font-weight: var(--font-weight-s);
  font-size: var(--font-size-m);
  line-height: var(--line-height-l);
  color: var(--main-text-color);

  /* outline: 1px solid blue; */

  border: var(--border-main);
  /* outline: 1px solid red; */
  /* border: none */
}
